backend/backendEnv
.env
.pio
display/microcontroller/LED Matrix ESP32/.vscode
display/microcontroller/LED Matrix ESP32/include
display/microcontroller/LED Matrix ESP32/lib
display/microcontroller/LED Matrix ESP32/test
subway-led-display/backend/*
# Ignore Python virtual environment
*.log
*.zip  # if you're zipping Lambda packages
.env